
.blog_post_prev img
  {
    width:100%;
    display:block;
  }
.blog_post_text 
{
  background:$colorAlt;
  color:black;
  font-family:$fontMain;
  margin:0 0px 10px;
  padding:30px;
  position:relative;
  .blog_arrow
  {
    position:absolute;
    border-bottom: 25px solid $colorAlt; 
  	border-right: 25px solid transparent;
  	border-left: 25px solid transparent;
  	top:-25px;
  	right:50px;
  }
  p
  {
    font-size:14px;
    opacity:0.8;
  }
  .blog_post_autor
  {
    text-align:right;
  }
  .blog_post_autor small
  {
    font-size:12px;
    font-weight:700;
  }
}
.quote
{
  font-style:italic;
  blockquote
  {
    font-size:21px;
  }
}
h4
{
  text-transform: uppercase;
  font-size:23px;
  font-variant: normal;
  font-weight: normal;
	color:black;
}
.blog_nav_panel
{
  position:relative;
  a
  {
    text-transform:uppercase;
    font-size:20px;
    font-weight:bold;
  }
  >a:first-child
  {
    left:0;
    position:absolute;
  }
  >a:last-child
  {
    right:0;
    position:absolute;
    top:0;
  }
  ul
  {
    width:100%;
    margin:0 auto;
    text-align:center;
  }
  ul, li
  {
    display:inline-block;
  }
} 
.gray-heart
{
  float:left;
  small
  {
    margin-left:15px;
  }
}
