body
{
   width: 100%;
}
.wrapper_full
{
  width: 100%;
  max-width:980px;
  margin:0 auto;
};
.column_fix
{
  width:28%;
  min-width: 150px;
  float:right;
  background:yellow;
}
.main_content
{ 
  width:71%;
  float:left;
}
.column
{
  width:48%;
  margin-right:2%;
  float:left;
  background:blue;
}