body
{
   width: 100%;
   background: red;
}
.wrapper_full
{
  width: 100%;
};
.limited_content
{
  width: 100%;
  max-width:1200px;
  margin:0 auto;
  background:green;
}
.column_fix
{
  width:28%;
  min-width: 200px;
  float:right;
  background:yellow;
}
.main_content
{ 
  width:71%;
  float:left;
  background:black;
}
.column
{
  width:48%;
  margin-right:2%;
  float:left;
  background:blue;
}