footer{
  background: $colorMain;
  color:white;

  h6{
    background: none;
    color: white;
    text-transform: none;
    color:$fontMain;
    display: block;
    padding: 30px 0;
    vertical-align: top;
  }
  aside{
    font-size: 8px;
  }
  small{
    line-height: 21px;
    vertical-align: top;
    max-width: 400px;
  }
  a{
    color: white;
    &:hover{
      color: $colorAlt;
    }
  }
  nav{
    float: right;
    display: inline-block;
    margin: 0;
    ul.footer_menu_button{
      li{
        display: inline-block;
        margin: 0 0 0 80px;
      }
    }
  }
}
.footer_column{
  width: 32%;
  margin: 0 auto;
  max-width: 543px;
  display: inline-block;
  vertical-align: top;
  min-width: 400px;
}
#first_column{
  width: 410px;
  margin-right: 150px;
  a{
    color: #fff;
    background: #000;
    border-bottom: 2px solid $colorAlt;
    display: inline;
    padding: 10px 15px;
    margin: 30px 0;
    display: inline-block;
  }
}
#second_column{
  width: 460px;
  margin-right: 170px;
  
}
#third_column{
  width: 325px;
}
.footer_tweet{
  height: 60px;
  margin-bottom: 20px;
  small{
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
  }
}
.footer_yellow{
  color: $colorAlt; 
  
}
.footer_social{
  margin: -5px 0 0 10px;
  display: inline-block;
}
.footer_info_point{
  margin-top: 30px;
  small{
    display: inline-block;
    margin-left: 15px;
    .footer_email{
      color: $colorAlt;
      background: $colorMain;
      padding: 0 5px;
      margin: 0;
    }
    a{
      color: $colorAlt;
    }
  }
}
.footer_follow_us{
  width: 230px;
  background: $colorMain;
  border: none;
  border-bottom: 2px solid $colorAlt;
  color: white;
}
.footer_bottom{
  background: black;
  padding: 30px 0;
  margin-top: 30px;
  small{
    display: inline;
  }
}
