header{
  background: #f6f6f6;
}    


.header_logo{
  display: inline-block;
  vertical-align: middle;
  margin: 20px 0;
}
nav{
  float: right;
  vertical-align: middle;
  display: inline-block;
  margin: 70px 0;
  ul.header_menu_button{
    li{
      display: inline-block;
      margin: 0 0 0 80px;
      a{
        padding: 25px 5px;
        &:hover{
          background: $colorAlt;
        }
      }
    }
  }
}
.header_title{
  background: url("/assets/images/slider_bg.jpg") no-repeat center top;
  background-size: cover;
  padding: 30px 0;
  margin-bottom: 70px;
  .you_head_title{
    width: 320px;
    display: inline-block;
    background: #424146;
    padding: 10px 20px;
  }
}