.main_bg_image_slider{
    // width:100%;
    height:700px;
    background: url("/assets/images/slider_bg.jpg") no-repeat center top;
    background-size: cover;
}
.main_arrow_left{
    background: url("/assets/images/icons/Left_arrow.png") no-repeat center;
    background-color:#000;
    width:45px;
    height:100px;
    margin:300px 0;
    float:left;
    }
.main_arrow_right{
    background: url("/assets/images/icons/Right_arrow.png") no-repeat center;
    background-color:#000;
    width:45px;
    height:100px;
    margin:300px 0;
    float:right;
    }
.main_slider{
    // width:100%;
    // position:relative;
    height:700px;
    padding:0 40px;
    // position:relative;
    // background: url("/assets/images/slider_bg.jpg") no-repeat center top;
    // background-size: cover;
    // display:inline-block;
    .main_text{
    position:relative;
    padding-top:110px;
    display:inline-block;
    z-index:100;
    }
    h1{
    line-height:95px;
    margin-bottom:10px;
    }
    p{
    margin:0 0 2px 0;
    width:auto;
    font-size:24px;
    color:#fff;
    background:#4e4e52;
    display:inline-block;

    }
    .main_img_block{
    position:relative;
    width:724px;
    height:600px;
    float:right;
    right:25px;
    top:22px;
    font-size: 0;
    /* Лекарство отдельно для Safari */
    display: table;
    // z-index:1000;
        .main_block_one{
        height:150px;
        }
        .main_block_two{
        height:150px;
        margin-left:179px;
        // display:inline-block;
        }
        .main_block_three{
        height:150px;
        // display:inline-block;   
        }
        .main_block_four{
        height:150px;
        margin-left:179px;
        // display:inline-block;   
        }
    }
}
.main_content_blogs{
    padding:90px 0;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    font-size: 0;
    h3{
        margin-top:10px;
    }
    .main_info_blocks{
        margin-top:60px;
        display:inline-block;
        .main_blogs{
        width:250px;
        height:285px;
        display:inline-block;
        vertical-align:top;
        margin:0 25px;
            .main_img_block{
            position:relative;
            width:250px;
            padding-top:172px;
            padding-bottom:5px;
            background-color:#ffea00;
               &:before{
                content:"";
                position:absolute;
                top:40px;
                left:50%;
                margin-left:-55px;
                }
                h5{
                color:#414146;
                font-weight:bold;
                }
            }
             #main_icon_one:before{
                content:url(../images/icons/web_development.png);
                }
            #main_icon_two:before{
                content:url(../images/icons/web_design_icon.png);
                }
            #main_icon_three:before{
                content:url(../images/icons/graphic_design_icon.png);
                }
        }
        .main_bottom_block{
        position: relative;
        width:250px;
        height:85px;
        background-color:#414146;
          h5{
          font-weight:bold;
          padding-top:15px;
          padding-left:20px;
          text-align:left;
          width:170px;
        // margin-top:20px;
          }
          aside{
            float:right;
            padding-right:30px;
          }
          .main_text_small{
            padding-top:20px;
            color:#FFF;
          }
        }
    }
}
.main_header{
    width:100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom:30px;
      h6 > span {
        display: inline-block;
        margin: 20px;
      }
      h6 > span:before{
        content: '';
        position: absolute;
        width: 100%;
        border-top: 1px solid #cacaca;
        margin-top: .6em;
      }
      h6 > span:after {
        content: '';
        position: absolute;
        width: 100%;
        border-top: 1px solid #cacaca;
        margin-top: .6em;
      }
      h6 > span:before {
        margin-left: -104%;
      }
      h6 > span:after {
        margin-left: 4%;
      }
    p{
    font-weight:600;
    margin-top:20px;
    }
}
.main_portfolio{
width:100%;
display:inline-block;
padding-bottom:90px;
    img{
        vertical-align:top;
        padding-top:6px;
        }
    .main_img_container_one{
    display:inline-block;
    padding-left:5px;
    width:1075px;
    }
    .main_img_container_two{
    display:inline-block;
    vertical-align:top;
    width:266px;
    }
    .main_img_container_three{
    display:inline-block;
    vertical-align:top;
    width:275px;
    }
}
.main_clients{
    height:65px;
    padding-bottom:120px;
    width: 100%;
    position: relative;
    text-align: center;
    .main_little_arrow-left{
    background: url("/assets/images/icons/Left_arrow.png") no-repeat center;
    background-color:#000;
    width:45px;
    height:65px;
    float:left;
    }
    .main_little_arrow-right{
    background: url("/assets/images/icons/Right_arrow.png") no-repeat center;
    background-color:#000;
    width:45px;
    height:65px;
    float:right;
    }
    .main_clients_block{
        display:inline-block;
            img{
            width:140px;
            height:65px;
            padding:0 20px;
            }
        
    }
}