.single_post
{
  h4
  {
    font-size:30px;
  }
  .blog_post_autor
  {
    width:40%;
    float:right;
  }
}
.share_post
{
  text-align:right;
  span
  {
    float:left;
  }
  mark
  {
    position:relative;
    padding:6px 20px;
    margin-left:50px;
    &:before
    {
      content:'';
      width:32px;
      height:31px;
      background-size:cover;
      position:absolute;
      top:0;
      left:-30px;
    }
  }
  #icon_fb:before
  {
    background:url(../images/icons/facebook.png);
  }
  #icon_g:before
  {
    background:url(../images/icons/google_plus.png);
  }
  #icon_t:before
  {
    background:url(../images/icons/twitter.png);
  }
  #icon_in:before
  {
    background:url(../images/icons/linkedin.png);
  }
  
}
.other_posts
{
  ul
  {
    text-align:justify;
  }
  ul:after 
  {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: "";
    display: inline-block;
  }
  h4
  {
    font-size:13px;
  }
  li
  {
    width:30%;
    display:inline-block;
    text-align:left;
  }
}
.form_post
  {
    margin:40px 0;
    padding:40px 0;
    border-top:1px solid $colorMain;
  }
.comments
{ 
  margin:40px 0;
  form
  {
    text-align:right;
    textarea
    {
      display:block;
      width:98%;
    }
    input,textarea
    {
      background:white;
      border:none;
      margin: 20px 0;
      padding:1%;
    }
    input
    {
      width:47%;
      display:inline-block;
    }
    input:first-child
    {
      float:left;
    }
    input:last-child
    {
      float:right;
    }
    button
    {
      color:white;
      background:black;
      border:none;
      border-bottom:$colorAlt 2px solid;
    }
  }
}
.post_comment
{
  margin: 40px 0 0 0;
  img
  {
    width:50px;
  }
}
.each_comment
{
  display:inline-block;
  vertical-align:top;
  width: 94%;
  margin:-60px 0 0px 60px;
  p{
    margin:0;
  }
}