.single_post
{
  h4
  {
    font-size:30px;
  }
}

.other_posts
{
  ul
  {
    text-align:justify;
  }
  ul:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block;
}
  h4
  {
    font-size:13px;
  }
  li
  {
    width:30%;
    display:inline-block;
  }
  
}
.comments
{
  form
  {
    text-align:right;
    textarea
    {
      display:block;
      width:98%;
    }
    input,textarea
    {
      background:white;
      border:none;
      margin: 20px 0;
      padding:1%;
    }
    input
    {
      width:47%;
      display:inline-block;
    }
    input:first-child
    {
      float:left;
    }
    input:last-child
    {
      float:right;
    }
    button
    {
      color:white;
      background:black;
      border:none;
      border-bottom:$colorAlt 2px solid;
    }
  }
  
  
  
}