%footer.wrapper_full
  .limited_content 
    .inside_space
      .footer_column#first_column
        %h6 
          About Us
        %small.first_column 
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
          sed diam nonummy nibh euismod tincidunt ut 
          laoreet dolore magna aliquam erat volutpat. Ut wisi 
          enim ad minim veniam, quis nostrud exerci tation ullamcorper 
          suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        %br
        %a 
          Learn More
        %h6
          Photo Stream
        %br/
        %img{:src => "/assets//images/footer/image1.jpg",:alt=>'img'}
        %img{:src => "/assets//images/footer/image2.jpg",:alt=>'img'}
        %img{:src => "/assets//images/footer/image3.jpg",:alt=>'img'}
        %br/
        %img{:src => "/assets//images/footer/image4.jpg",:alt=>'img'}
        %img{:src => "/assets//images/footer/image5.jpg",:alt=>'img'}
        %img{:src => "/assets//images/footer/image6.jpg",:alt=>'img'}
      .footer_column#second_column
        %h6 
          Latest tweets
        .footer_tweet
          %img{:src => "/assets//images/icons/twitter_birs_icon.png",:alt=>'Twitter birs icon'}
          %small
            Check Out Dtbaker's 
            %span.footer_yellow
              @Arduino 
            Sales Notification 
            %span.footer_yellow
              System 
            %a{:href=>'404.html'}
              http://t.co/ WBFKIWHJ
            %aside 
              3 days ago
        .footer_tweet
          %img{:src => "/assets//images/icons/twitter_birs_icon.png",:alt=>'Twitter birs icon'}
          %small
            Community Superstar Winner – 
            %span.footer_yellow
              OrganicBeeMedia  
            %br
            %a{:href=>'404.html'}
              http://t.co/2Fs1nnMj
            %aside 
              3 days ago
        .footer_tweet
          %img{:src => "/assets//images/icons/twitter_birs_icon.png",:alt=>'Twitter birs icon'}
          %small
            Clean 
            %span.footer_yellow
              Websites 
            Designs for Your 
            %span.footer_yellow
              Inspiration 
            %br
            %a{:href=>'404.html'}
              http://t.co/ SnRKu3HJ
            %aside 
              5 days ago
        .footer_tweet
          %img{:src => "/assets//images/icons/twitter_birs_icon.png",:alt=>'Twitter birs icon'}
          %small
            Cute Online 
            %span.footer_yellow
              Shops 
            %a{:href=>'404.html'}
              http://t.co/ 1PoQN3bJ
            %aside 
              6 days ago
        .footer_tweet
          %img{:src => "/assets//images/icons/twitter_birs_icon.png",:alt=>'Twitter birs icon'}
          %small
            Download 40 vector 
            %span.footer_yellow
              icons 
            package for 
            %span.footer_yellow
              FREE
            %br
            %a{:href=>'404.html'}
              http://t.co/2Fp5GLqn 
            %aside 
              6 days ago 
        %h6
          Social Connecting
          .footer_social
            %a{:href=>'404.html'}
              %img{:src => "/assets//images/icons/facebook.png",:alt=>'facebook'}
            %a{:href=>'404.html'}
              %img{:src => "/assets//images/icons/google_plus.png",:alt=>'google_plus'}
            %a{:href=>'404.html'}
              %img{:src => "/assets//images/icons/twitter.png",:alt=>'twitter'}
            %a{:href=>'404.html'}
              %img{:src => "/assets//images/icons/linkedin.png",:alt=>'linkedin'}
            %a{:href=>'404.html'}
              %img{:src => "/assets//images/icons/you_tube.png",:alt=>'you_tube'}
            %a{:href=>'404.html'}
              %img{:src => "/assets//images/icons/bloger.png",:alt=>'bloger'}
            %a{:href=>'404.html'}
              %img{:src => "/assets//images/icons/rss.png",:alt=>'rss'}
            %a{:href=>'404.html'}
              %img{:src => "/assets//images/icons/dribbble.png",:alt=>'dribbble'}
      .footer_column#third_column
        %h6
          Contact info
        .footer_info_point
          %img{:src => "/assets//images/icons/Adress.png",:alt=>'adress'}
          %small
            Address: 12569 Saint Patrick des Prés, 
            %br
            85000 Paris, France
        .footer_info_point
          %img{:src => "/assets//images/icons/Phone.png",:alt=>'phone'}
          %small
            Phone: 
            %small
              +38 045 845-45-78
              %br
              +38 045 845-45-79
        .footer_info_point
          %img{:src => "/assets//images/icons/email.png",:alt=>'email'}
          %small
            E-mail:  
            %a{:href=>'404.html'}
              freeforwebdesign@gmail.com 
        %h6
          Follow Us
        %small
          Lorem Ipsum is simply dummy text of the printing 
          and typesetting industry.
        %form
          %input.footer_follow_us
          %a{:href=>'404.html'}
            %img{:src => "/assets//images/icons/email_icon.png",:alt=>'email_icon'}
  .footer_bottom
    .limited_content 
      .inside_space
        %small
          Copyright 2013 - FreeForWebDesign.com - All Rights Reserved
        %nav
          %ul.footer_menu_button
            %li
              %a{:href=>'index.html'}
                Home
            %li
              %a{:href=>'portfolio.html'}
                Portfolio
            %li
              %a{:href=>'blog.html'}
                Blog
            %li
              %a{:href=>'about.html'}
                About us
            %li
              %a{:href=>'contact.html'}
                Contact
        