.nav_panel_search
  .search
    %input{:type=>"search", :placeholder=>"     Search ..."}
.nav_panel_wrapper
  %h5 categories
  %ul
    %li 
      %a{:href=>"#"} web design
    %li 
      %a{:href=>"#"} Branding
    %li 
      %a{:href=>"#"} business
    %li 
      %a{:href=>"#"} Inspiration
    %li 
      %a{:href=>"#"} marketing
  %ul
    %li 
      %a{:href=>"#"} html
    %li 
      %a{:href=>"#"} css
    %li 
      %a{:href=>"#"} news
    %li 
      %a{:href=>"#"} mobile
    %li 
      %a{:href=>"#"} Usability
.nav_panel_wrapper
  %h5 Archive
  %ul
    %li 
      %a{:href=>"#"} 
        %span October
        %span (7) 
    %li 
      %a{:href=>"#"} 
        %span September
        %span (9)
    %li 
      %a{:href=>"#"}
        %span August
        %span (12)
    %li 
      %a{:href=>"#"}
        %span July 
        %span (17)
    %li 
      %a{:href=>"#"} 
        %span June 
        %span (6)
  %ul
    %li 
      %a{:href=>"#"}
        %span May 
        %span (15)
    %li 
      %a{:href=>"#"}
        %span April 
        %span (4)
    %li 
      %a{:href=>"#"} 
        %span March 
        %span (13)
    %li 
      %a{:href=>"#"} 
        %span February 
        %span (19)
    %li 
      %a{:href=>"#"} 
        %span January
        %span (21)
.nav_panel_wrapper
  %h5 Popular posts
  .prev_post
    %a{:href=>"#"}
      %img{:src => "assets/images/blog_images/post6.jpg",:alt=>'img'}
      .content_post
        %p 15 Fresh Examples of Clean and  Minimal Web Designs
        .metapost
          %small Oct. 09, 2013
          %span.yellow-heart
            %small 21 
  .prev_post
    %a{:href=>"#", :class=>"prev_post"}
      %img{:src => "assets/images/blog_images/post5.jpg",:alt=>'img'}
      .content_post
        %p Inspiring Examples of Color in  Web Design
        .metapost  
          %small Oct. 10, 2013
          %span.yellow-heart
            %small 19 
  .prev_post
    %a{:href=>"#", :class=>"prev_post"}
      %img{:src => "assets/images/blog_images/post1.jpg",:alt=>'img'}
      .content_post
        %p 17 Inspiring Examples of  Parallax Scrolling Sites
        .metapost
          %small Oct.12, 2013
          %span.yellow-heart
            %small 15 
  .prev_post
    %a{:href=>"#", :class=>"prev_post"}
      %img{:src => "assets/images/blog_images/post7.jpg",:alt=>'img'}
      .content_post
        %p 15 Websites with Beautiful  Typography
        .metapost
          %small Oct.03, 2013
          %span.yellow-heart
            %small 13 
  .prev_post
    %a{:href=>"#", :class=>"prev_post"}
      %img{:src => "assets/images/blog_images/post2.jpg",:alt=>'img'}
      .content_post
        %p 20 Resources for Beginner  Designers & Developers
        .metapost
          %small Oct.10, 2013
          %span.yellow-heart
            %small 7 
.nav_panel_wrapper.tag_part
  %h5 tags
  %a{:href=>"#"}
    %span web design
  %a{:href=>"#"}
    %span html5
  %a{:href=>"#"}
    %span inspiration
  %a{:href=>"#"}
    %span photo
  %a{:href=>"#"}
    %span css
  %a{:href=>"#"}
    %span illustration
  %a{:href=>"#"}
    %span design
  %a{:href=>"#"}
    %span wordpress
  %a{:href=>"#"}
    %span business
  %a{:href=>"#"}
    %span theme
  %a{:href=>"#"}
    %span joomla