.nav_panel_wrapper
  .search
    %input{:type=>"search", :placeholder=>"Search ..."}
.nav_panel_wrapper
  %h5 categories
  %ul
    %li 
      %a{:href=>"#"} web design
    %li 
      %a{:href=>"#"} Branding
    %li 
      %a{:href=>"#"} business
    %li 
      %a{:href=>"#"} Inspiration
    %li 
      %a{:href=>"#"} marketing
  %ul
    %li 
      %a{:href=>"#"} html
    %li 
      %a{:href=>"#"} css
    %li 
      %a{:href=>"#"} news
    %li 
      %a{:href=>"#"} mobile
    %li 
      %a{:href=>"#"} Usability
.nav_panel_wrapper
  %h5 Archive
  %ul
    %li 
      %a{:href=>"#"} October  (7)
    %li 
      %a{:href=>"#"} September  (9)
    %li 
      %a{:href=>"#"} August  (12)
    %li 
      %a{:href=>"#"} July  (17)
    %li 
      %a{:href=>"#"} June  (6)
  %ul
    %li 
      %a{:href=>"#"} May  (15)
    %li 
      %a{:href=>"#"} April  (4)
    %li 
      %a{:href=>"#"} March  (13)
    %li 
      %a{:href=>"#"} February  (19)
    %li 
      %a{:href=>"#"} January  (21)
.nav_panel_wrapper
  %h5 Popular posts
  %a{:href=>"#", :class=>"prev_post"}
    %img{:src => "assets/images/blog_images/post6.jpg",:alt=>'img'}
    .content_post
      %p 15 Fresh Examples of Clean and  Minimal Web Designs
      %small Oct. 09, 2013
      %small 21 
  %a{:href=>"#", :class=>"prev_post"}
    %img{:src => "assets/images/blog_images/post5.jpg",:alt=>'img'}
    .content_post
      %p Inspiring Examples of Color in  Web Design
      %small Oct. 10, 2013
      %small 19 
  %a{:href=>"#", :class=>"prev_post"}
    %img{:src => "assets/images/blog_images/post1.jpg",:alt=>'img'}
    .content_post
      %p 17 Inspiring Examples of  Parallax Scrolling Sites
      %small Oct.12, 2013
      %small 15 
  %a{:href=>"#", :class=>"prev_post"}
    %img{:src => "assets/images/blog_images/post7.jpg",:alt=>'img'}
    .content_post
      %p 15 Websites with Beautiful  Typography
      %small Oct.03, 2013
      %small 13 
  %a{:href=>"#", :class=>"prev_post"}
    %img{:src => "assets/images/blog_images/post2.jpg",:alt=>'img'}
    .content_post
      %p 20 Resources for Beginner  Designers & Developers
      %small Oct.10, 2013
      %small 7 
.nav_panel_wrapper
  %h5 tags
  %a{:href=>"#"}
    %span web design
  %a{:href=>"#"}
    %span html5
  %a{:href=>"#"}
    %span inspiration
  %a{:href=>"#"}
    %span photo
  %a{:href=>"#"}
    %span css
  %a{:href=>"#"}
    %span illustration
  %a{:href=>"#"}
    %span design
  %a{:href=>"#"}
    %span wordpress
  %a{:href=>"#"}
    %span business
  %a{:href=>"#"}
    %span theme
  %a{:href=>"#"}
    %span joomla
  %a{:href=>"#"}
    %span categories bg