.nav_panel_wrapper
  .search
    %input{:type=>"search", :placeholder=>"Search ..."}
.nav_panel_wrapper
  %h5 categories
  %ul
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
  %ul
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
.nav_panel_wrapper
  %h5 categories
  %ul
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
  %ul
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
    %li 
      %a{:href=>"#"} web
.nav_panel_wrapper
  %h5 project posts
  %a{:href=>"#", :class=>"prev_post"}
    %img{:src => "assets/images/img_2.jpg",:alt=>'img'}
    .content_post
      %p 10 / 22 / 2013
      %small Oct.10, 2013
  %a{:href=>"#", :class=>"prev_post"}
    %img{:src => "assets/images/img_2.jpg",:alt=>'img'}
    .content_post
      %p 10 / 22 / 2013
      %small Oct.10, 2013
  %a{:href=>"#", :class=>"prev_post"}
    %img{:src => "assets/images/img_2.jpg",:alt=>'img'}
    .content_post
      %p 10 / 22 / 2013
      %small Oct.10, 2013
  %a{:href=>"#", :class=>"prev_post"}
    %img{:src => "assets/images/img_2.jpg",:alt=>'img'}
    .content_post
      %p 10 / 22 / 2013
      %small Oct.10, 2013
  %a{:href=>"#", :class=>"prev_post"}
    %img{:src => "assets/images/img_2.jpg",:alt=>'img'}
    .content_post
      %p 10 / 22 / 2013
      %small Oct.10, 2013
.nav_panel_wrapper
  %h5 tag
  %a
    %span uiuiu
  %a
    %span uiuiu
  %a
    %span uiuiu
  %a
    %span uiuiu
  %a
    %span uiuiu
  %a
    %span uiuiu
  %a
    %span uiuiu
  %a
    %span uiuiu
  %a
    %span uiuiu
  %a
    %span uiuiu
  %a
    %span uiuiu
  %a
    %span uiuiu