.nav_panel_wrapper
  %h5 categories
  %ul
    %li 
      %p web
    %li 
      %p web
    %li 
      %p web
    %li 
      %p web
    %li 
      %p web
  %ul
    %li 
      %p web
    %li 
      %p web
    %li 
      %p web
    %li 
      %p web
    %li 
      %p web
.nav_panel_wrapper
  %h5 categories
  %ul
    %li 
      %p web
    %li 
      %p web
    %li 
      %p web
    %li 
      %p web
    %li 
      %p web
  %ul
    %li 
      %p web
    %li 
      %p web
    %li 
      %p web
    %li 
      %p web
    %li 
      %p web
.nav_panel_wrapper
  %h5 project
  .prev_post
    %img{:src => "assets/images/img_2.jpg",:alt=>'img'}
    .content_post
      %p 10 / 22 / 2013
      %small Oct.10, 2013
  .prev_post
    %img{:src => "assets/images/img_2.jpg",:alt=>'img'}
    .content_post
      %p 10 / 22 / 2013
      %small Oct.10, 2013
  .prev_post
    %img{:src => "assets/images/img_2.jpg",:alt=>'img'}
    .content_post
      %p 10 / 22 / 2013
      %small Oct.10, 2013
  .prev_post
    %img{:src => "assets/images/img_2.jpg",:alt=>'img'}
    .content_post
      %p 10 / 22 / 2013
      %small Oct.10, 2013
  .prev_post
    %img{:src => "assets/images/img_2.jpg",:alt=>'img'}
    .content_post
      %p 10 / 22 / 2013
      %small Oct.10, 2013
.nav_panel_wrapper
  %h5 tag
  %span uiuiu
  %span uiuiu
  %span uiuiu
  %span uiuiu
  %span uiuiu
  %span uiuiu
  %span uiuiu
  %span uiuiu
  %span uiuiu
  %span uiuiu
  %span uiuiu