---
title: about
header: about us
---
.limited_content 
  .about_welcome
    %img{:src=>'/assets//images/about_img/Our_team.jpg',:alt=>'welcome'}
    .about_welcome_text
      %h2 welcome to our team
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      .about_column_one
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. 
      .about_column_two
        %p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
  .about_header
    %h6 our skills
    %p Lorem Ipsum dolor sit amet, consectetuer elit,sed diam nonummy nibh euismod tincidunt.
  .about_skills_center
    .about_skills_block
      .about_skills
        %ul
          %li
            %span 90%
            .about_percent_text#size_one 
              %h5 photoshop
          %li
            %span 87%
            .about_percent_text#size_two
              %h5 html/css
          %li
            %span 70%
            .about_percent_text#size_three 
              %h5 wordpress
          %li
            %span 75%
            .about_percent_text#size_four
              %h5 javascript
      .about_skills
        %ul
          %li
            %span 80%
            .about_percent_text#size_five 
              %h5 illustrator
          %li
            %span 76%
            .about_percent_text#size_six
              %h5 php
          %li
            %span 65%
            .about_percent_text#size_seven 
              %h5 joomla
          %li
            %span 85%
            .about_percent_text#size_eight
              %h5 mysql
  .about_header
    %h6 our team
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  .about_team
    .about_team_block
      .about_people_block
        %img{:src=>'/assets//images/about_img/employee_1.png',:alt=>'people1'}
        %h6 web designer
      .about_people_block
        %img{:src=>'/assets//images/about_img/employee_2.png',:alt=>'people2'}
        %h6 web designer
      .about_people_block
        %img{:src=>'/assets//images/about_img/employee_3.png',:alt=>'people3'}
        %h6 FRONT-END developer
      .about_people_block
        %img{:src=>'/assets//images/about_img/employee_4.png',:alt=>'people4'}
        %h6 web developer
    .about_team_block
      .about_people_block
        %img{:src=>'/assets//images/about_img/employee_5.png',:alt=>'people5'}
        %h6 web developer
      .about_people_block
        %img{:src=>'/assets//images/about_img/employee_6.png',:alt=>'people6'}
        %h6 markup developer
      .about_people_block
        %img{:src=>'/assets//images/about_img/employee_7.png',:alt=>'people7'}
        %h6 cms master
      .about_people_block
        %img{:src=>'/assets//images/about_img/employee_8.png',:alt=>'people8'}
        %h6 send cv


