---
title: blog
header: blog
---
.limited_content
  .main_content
    .columns
      .column
        .blog_post_text.quote
          %blockquote "Ability..."
          .blog_post_autor
            %small John
        .blog_post_prev
          %img{:src => "assets/images/img_1.jpg",:alt=>'c'}
          .blog_post_text
            .blog_arrow
            %h4 17....
            %p When
            .blog_post_autor
              %small by...
        .blog_post_prev
          %img{:src => "assets/images/img_1.jpg",:alt=>'c'}
          .blog_post_text
            .blog_arrow
            %h4 17....
            %p When
            .blog_post_autor
              %small by...
        .blog_post_prev
          %img{:src => "assets/images/img_1.jpg",:alt=>'c'}
          .blog_post_text
            .blog_arrow
            %h4 17....
            %p When
            .blog_post_autor
              %small by...
      .column
        .blog_post_prev
          %img{:src => "assets/images/img_1.jpg",:alt=>'c'}
          .blog_post_text
            .blog_arrow
            %h4 17....
            %p When
            .blog_post_autor
              %small by...
        .blog_post_prev
          %img{:src => "assets/images/img_1.jpg",:alt=>'c'}
          .blog_post_text
            .blog_arrow
            %h4 17....
            %p When
            .blog_post_autor
              %small by...
        .blog_post_prev
          %img{:src => "assets/images/img_1.jpg",:alt=>'c'}
          .blog_post_text
            .blog_arrow
            %h4 17....
            %p When
            .blog_post_autor
              %small by...
        .blog_post_prev
          %img{:src => "assets/images/img_1.jpg",:alt=>'c'}
          .blog_post_text
            .blog_arrow
            %h4 17....
            %p When
            .blog_post_autor
              %small by...
    .blog_nav_panel
      %a{:href=>"#"} prev
      %ul
        %li
          %a{:href=>"#"} 1
        %li
          %a{:href=>"#"} 2
        %li
          %a{:href=>"#"} 1
        %li
          %a{:href=>"#"} 2
        %li
          %a{:href=>"#"} 1
        %li
          %a{:href=>"#"} 2
        %li
          %a{:href=>"#"} 1
        %li
          %a{:href=>"#"} 2
      %a{:href=>"#"} prev
  .column_fix
    = partial :navpanel
  .clear
