---
title: blog
header: blog
---

.main_content
  .columns
    .column
      .blog_post_text.quote
        %blockquote "Ability may get you to the top, but it takes character to keep you there."
        .blog_post_autor
          %small John Wooden
      .blog_post_prev
        %img{:src => "assets/images/blog_images/post1.jpg",:alt=>'c'}
        .blog_post_text
          .blog_arrow
          %h4 17 Inspiring Examples of Parallax Scrolling Sites
          %p When it comes to parallax scrolling, the line that separates good and bad choices is pretty thin. A while back parallax was being used to deliver an explosion of elements floating around the screen.
          .blog_post_autor
            %span.gray-heart 
              %small 15
            %small 
              %a{:href=>"#"} by John Doe  /
              %a{:href=>"#"} 4 comments  / 
              %a{:href=>"#"} Oct. 12, 2013
      .blog_post_prev
        %img{:src => "assets/images/blog_images/post2.jpg",:alt=>'c'}
        .blog_post_text
          .blog_arrow
          %h4 20 Resources for Beginner  Designers & Developers
          %p  Getting started in the world of design can be both thrilling and intimidating. Sometimes, you feel like you just don’t have the tools or skills you need to complete even the most basic projects.
          .blog_post_autor
            %span.gray-heart
              %small 7
            %small 
              %a{:href=>"#"} by John Doe  /  
              %a{:href=>"#"} 8 comments  /  
              %a{:href=>"#"} Oct. 10, 2013
      .blog_post_prev
        %img{:src => "assets/images/blog_images/post3.jpg",:alt=>'c'}
        .blog_post_text
          .blog_arrow
          %h4 18 Minimalistic Home Offices to Inspire You
          %p It doesn’t matter if you work from home or if you use your own space only at night or on the weekends, home offices are great! They give us a chance to create a space just the way we want it.
          .blog_post_autor
            %span.gray-heart
              %small 2
            %small 
              %a{:href=>"#"} by John Doe  /  
              %a{:href=>"#"} 0 comments  /  
              %a{:href=>"#"} Oct. 08, 2013
    .column
      .blog_post_prev
        %img{:src => "assets/images/blog_images/post4.jpg",:alt=>'c'}
        .blog_post_text
          .blog_arrow
          %h4 Multipurpose Agency WordPress Theme
          %p At ThemeTrust, our premium WordPress theme shop, we just released our latest WordPress theme. Baylie is a multipurpose agency theme featuring a full screen parallax slideshow.
          .blog_post_autor
            %span.gray-heart
              %small 0
            %small 
              %a{:href=>"#"} by John Doe  /  
              %a{:href=>"#"} 1 comments  /  
              %a{:href=>"#"} Oct. 12, 2013
      .blog_post_prev
        %img{:src => "assets/images/blog_images/post5.jpg",:alt=>'c'}
        .blog_post_text
          .blog_arrow
          %h4 Inspiring Examples of Color in  Web Design
          %p Last week we showcased 13 Beautiful Examples of Bold Colors in Web Design and we received several emails asking us to put together a list with specific colors.
          .blog_post_autor
            %span.gray-heart
              %small 19
            %small 
              %a{:href=>"#"} by John Doe  /  
              %a{:href=>"#"} 9 comments  /  
              %a{:href=>"#"} Oct. 10, 2013
      .blog_post_prev
        %img{:src => "assets/images/blog_images/post6.jpg",:alt=>'c'}
        .blog_post_text
          .blog_arrow
          %h4 15 Fresh Examples of Clean and  Minimal Web Designs
          %p As a designer, it can be tempting to use a lot of unnecessary design elements or a complex color palette to make a website stand out.
          .blog_post_autor
            %span.gray-heart
              %small 21
            %small 
              %a{:href=>"#"} by John Doe  /  
              %a{:href=>"#"} 0 comments  /  
              %a{:href=>"#"} Oct. 09, 2013
      .blog_post_prev
        %img{:src => "assets/images/blog_images/post7.jpg",:alt=>'c'}
        .blog_post_text
          .blog_arrow
          %h4 15 Websites with Beautiful  Typography
          %p We are continuing to see more an more web designers realize the importance of typography. And with services like Typekit, Google Fonts, and Fontdeck
          .blog_post_autor
            %span.gray-heart
              %small 13
            %small 
              %a{:href=>"#"} by John Doe  /  
              %a{:href=>"#"} 2 comments  /  
              %a{:href=>"#"} Oct. 03, 2013
  .blog_nav_panel
    %a{:href=>"#"} prev
    %ul
      %li
        %a{:href=>"#"} 1
      %li
        %a{:href=>"#"} 2
      %li
        %a{:href=>"#"} 3
      %li
        %a{:href=>"#"} 4
      %li
        %a{:href=>"#"} 5
      %li
        %a{:href=>"#"} ...
      %li
        %a{:href=>"#"} 19
      %li
        %a{:href=>"#"} 20
    %a{:href=>"#"} next
.column_fix
  = partial :navpanel
.clear
