---
title: blog
header: blog
---
.limited_content
  .main_content
    .columns
      .column
        .quote
          %blockquote "Ability..."
          %small John
        .post_prev
          %h4 17....
          %p When
          %small by...
      .column content
    .nav_panel
      %a{:href=>"#"} prev
  .column_fix
    = partial :navpanel
  .clear
