---
title: main
// header: main
---
.main_bg_image_slider
  %a.main_arrow_left{:href => "#"}
  %a.main_arrow_right{:href => "#"}
  .limited_content 
    .main_slider
      .main_text
        %h1 
          %mark We believe
          %br
          %mark in quality design
        %p Any creative project is unique
        %br
        %p and should be provided with
        %br
        %p the appropriate quality
      .main_img_block
        .main_block_one
          %img{:src=>'/assets//images/img_1.jpg',:alt=>'icon'}
          %img{:src=>'/assets//images/img_10.jpg',:alt=>'icon'}
          %img{:src=>'/assets//images/img_8.jpg',:alt=>'icon'}
        .main_block_two
          %img{:src=>'/assets//images/img_9.jpg',:alt=>'icon'}
          %img{:src=>'/assets//images/img_3.jpg',:alt=>'icon'}
          %img{:src=>'/assets//images/img_2.jpg',:alt=>'icon'}
        .main_block_three
          %img{:src=>'/assets//images/img_6.jpg',:alt=>'icon'}
          %img{:src=>'/assets//images/img_5.jpg',:alt=>'icon'}
          %img{:src=>'/assets//images/img_7.jpg',:alt=>'icon'}
        .main_block_four
          %img{:src=>'/assets//images/img_4.jpg',:alt=>'icon'}
      %a{:href=>'#'} Order Now
.limited_content 
  .main_content_blogs
    %h2 We create quality designs.
    %h3 We specialize in Web Design / Development and Graphic Design
    .main_info_blocks
      .main_blogs
        %img{:src=>'/assets//images/blog_post_img.jpg',:alt=>'icon'}
        .main_bottom_block
          %h5 redesigning with personality
          %aside 
            %span.white_letter in 
            web design
      .main_blogs
        .main_icon_block#main_icon_one
          %h5 Web development
        .main_bottom_block
          .main_text_small
            %small Lorem ipsum dolor sit amet, consectetur.
      .main_blogs
        .main_icon_block#main_icon_two
          %h5 Web design
        .main_bottom_block
          .main_text_small
            %small Lorem ipsum dolor sit amet, consectetur.
      .main_blogs
        .main_icon_block#main_icon_three
          %h5 Graphic design
        .main_bottom_block
          .main_text_small
            %small Lorem ipsum dolor sit amet, consectetur.
.main_header
  %h6
    %span our work
  %p.superP Lorem Ipsum dolor sit amet, consectetuer elit,sed diam nonummy nibh euismod tincidunt.
.main_portfolio
  .main_img_container_one
    %img{:src=>'/assets//images/Portfolio_work_2.jpg',:alt=>'work'}
    %img{:src=>'/assets//images/Portfolio_work_1.jpg',:alt=>'work'}
    %img{:src=>'/assets//images/Portfolio_work_10.jpg',:alt=>'work'}
    %img{:src=>'/assets//images/Portfolio_work_9.jpg',:alt=>'work'}
    %img{:src=>'/assets//images/Portfolio_work_8.jpg',:alt=>'work'}
  .main_img_container_two
    %img{:src=>'/assets//images/Portfolio_work_11.jpg',:alt=>'work'}
    %img{:src=>'/assets//images/Portfolio_work_4.jpg',:alt=>'work'}
    %img{:src=>'/assets//images/Portfolio_work_3.jpg',:alt=>'work'}
  .main_img_container_three
    %img{:src=>'/assets//images/Portfolio_work_7.jpg',:alt=>'work'}
    %img{:src=>'/assets//images/Portfolio_work_6.jpg',:alt=>'work'}
    %img{:src=>'/assets//images/Portfolio_work_5.jpg',:alt=>'work'}
.main_header
  %h6
    %span our clients
  %p.superP Lorem Ipsum dolor sit amet, consectetuer elit,sed diam nonummy nibh euismod tincidunt.
.main_clients
  .main_little_arrow-left
  .main_little_arrow-right
  .main_clients_block
    %img{:src=>'/assets//images/icons/Client_1.png',:alt=>'clients'}
    %img{:src=>'/assets//images/icons/Client_2.png',:alt=>'clients'}
    %img{:src=>'/assets//images/icons/Client_3.png',:alt=>'clients'}
    %img{:src=>'/assets//images/icons/Client_4.png',:alt=>'clients'}
    %img{:src=>'/assets//images/icons/Client_5.png',:alt=>'clients'}
    %img{:src=>'/assets//images/icons/Client_6.png',:alt=>'clients'}
    %img{:src=>'/assets//images/icons/Client_7.png',:alt=>'clients'}
    %img{:src=>'/assets//images/icons/Client_8.png',:alt=>'clients'}

