---
title: main
header: main
---
.limited_content 
  %h1 
    %mark We believe in quality design
  .slider
    %p Any creative project is unique and should be provided with the appropriate quality
  %h2 We create quality designs.
  %h3 We specialize...
  %h5 redesigning with...
  %aside in web design
  %small Lorem...
  %h6 our work
  %p Lorem...
