---
title: portfolio
header: portfolio
---
.limited_content
  .portfolio_head
    %h2.portfolio_h2 We create quality designs
    %h3.portfolio_h3 We specialize in Web design / Development and Graphic Design
    %nav.portfolio_nav
      %ul
        %li 
          %a{ href:"" } All
        %li 
          %a{ href:"" } Website
        %li 
          %a{ href:"" } Logo
        %li 
          %a{ href:"" } UI kit
        %li 
          %a{ href:"" } Photo
        %li 
          %a{ href:"" } App Design
  .portfolio_galery
    .portfolio_main_image.img_block1
      .yellow_block
        .portfolio_arrow
    .portfolio_main_image.img_block2
      .yellow_block
        .portfolio_arrow
    .portfolio_main_image.img_block3
      .yellow_block
        .portfolio_arrow
    .portfolio_main_image.img_block4
      .yellow_block
        .portfolio_arrow
    .portfolio_main_image.img_block5
      .yellow_block
        .portfolio_arrow
    .portfolio_main_image.img_block6
      .yellow_block
        .portfolio_arrow
    .portfolio_main_image.img_block7
      .yellow_block
        .portfolio_arrow
    .portfolio_main_image.img_block8
      .yellow_block
        .portfolio_arrow
    .portfolio_main_image.img_block9
      .yellow_block
        .portfolio_arrow