---
title: portfolio
header: portfolio
---
.limited_content
  .main_content 
    .portfolio_head
      %h2 We create quality designs
      %h3 We specialize in Web design / Development
      %nav
        %ul
          %li 
            %a{ href:"" } All
          %li 
            %a{ href:"" } Website
          %li 
            %a{ href:"" } Logo
          %li 
            %a{ href:"" } UI kit
          %li 
            %a{ href:"" } Photo
          %li 
            %a{ href:"" } App Design
    .portfolio_galery
  .clear
