---
title: portfolio
header: portfolio
---
.limited_content
  .portfolio_head
    %h2#portfolio_h We create quality designs
    %h3.portfolio_h We specialize in Web design / Development and Graphic Design
    %nav.portfolio_nav
      %ul
        %li 
          %a{ href:"" } All
        %li 
          %a{ href:"" } Website
        %li 
          %a{ href:"" } Logo
        %li 
          %a{ href:"" } UI kit
        %li 
          %a{ href:"" } Photo
        %li 
          %a{ href:"" } App Design
  .portfolio_galery
    %img.portfolio_main_image{:src=>'assets/images/portfolio_img1.jpg',:alt=>'Portfolio image' }
    %img.portfolio_main_image{:src=>'assets/images/portfolio_img2.jpg',:alt=>'Portfolio image' }
    %img.portfolio_main_image{:src=>'assets/images/portfolio_img3.jpg',:alt=>'Portfolio image' }
    %img.portfolio_main_image{:src=>'assets/images/portfolio_img4.jpg',:alt=>'Portfolio image' }
    %img.portfolio_main_image{:src=>'assets/images/portfolio_img5.jpg',:alt=>'Portfolio image' }
    %img.portfolio_main_image{:src=>'assets/images/portfolio_img6.jpg',:alt=>'Portfolio image' }
    %img.portfolio_main_image{:src=>'assets/images/portfolio_img7.jpg',:alt=>'Portfolio image' }
    %img.portfolio_main_image{:src=>'assets/images/portfolio_img8.jpg',:alt=>'Portfolio image' }
    %img.portfolio_main_image{:src=>'assets/images/portfolio_img9.jpg',:alt=>'Portfolio image' }