---
title: post
header: post
---
.limited_content
  .main_content 
    .single_post
      %h4
      .post_prev small by...
    .other_posts
      %h4 18 min..
    .comments
      %p skokov
      %p jkjkj
  .column_fix
    = partial :navpanel
  .clear